.container{
    display: flex;
    height:400px;
    width: 400px;
    display: flex;
    background-color: bisque;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.item{
    border: dotted maroon 2px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
    font-size: 20pt;
    color: white;
}